<component name="ArtifactManager">
  <artifact type="war" name="Spring_Basic:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>Spring_Basic</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="Spring_Basic-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring_Basic:war exploded" />
    </root>
  </artifact>
</component>